<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'
        integrity='sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=='
        crossorigin='anonymous' />
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="mt-4">
                <!-- 產品Modal -->
                <product-modal ref="userModal" :temp-product="tempProduct" :open-modal="openModal"
                    :add-to-cart="addToCart" :status="status"></product-modal>
                <!-- 產品Modal -->

                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th>圖片</th>
                            <th>商品名稱</th>
                            <th>價格</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="product in products" :key="product.id">
                            <td style="width: 200px">
                                <div :style="{backgroundImage: `url(${product.imagesUrl})`}"
                                    style="height: 100px; background-size: cover; background-position: center"></div>
                            </td>
                            <td>
                                {{ product.title }}
                            </td>
                            <td>
                                <div v-if="product.origin_price===product.price" class="h5">{{ product.price }} 元</div>
                                <div v-else>
                                    <del class="h6">原價 {{ product.origin_price }} 元</del>
                                    <div class="h5">現在只要 {{ product.price }} 元</div>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button @click="openModal(product)" type="button" class="btn btn-outline-secondary">
                                        查看更多
                                    </button>
                                    <button @click="addToCart(product.id, 1)"
                                        :disabled="product.id===status.addToCartLoading" type="button"
                                        class="btn btn-outline-danger">
                                        <span v-if="product.id===status.addToCartLoading"
                                            class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        加到購物車
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-end">
                    <button @click="removeAllItem()" class="btn btn-outline-danger" type="button">
                        清空購物車
                    </button>
                </div>
                <!-- 購物車列表 -->

                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th>品名</th>
                            <th style="width: 150px">數量/單位</th>
                            <th>單價</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in carts.carts" :key="item.id">
                            <td>
                                <button @click="removeCartItem(item)" :disabled="item.id===status.adjustQtyLoading"
                                    type="button" class="btn btn-outline-danger btn-sm">
                                    <span v-if="item.id===status.adjustQtyLoading"
                                        class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    <span v-else>x</span>
                                </button>
                            </td>
                            <td>
                                {{ item.product.title }}
                                <div class="text-success">
                                    已套用優惠券
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <div class="input-group mb-3">
                                        <button @click="item.qty -- ;adjustQty(item, item.qty)" :disabled="item.qty===1"
                                            type="button" class="btn btn-outline-secondary">-</button>
                                        <input v-model="item.qty" @change="adjustQty(item, item.qty)"
                                            :disabled="status.adjustQtyLoading === item.id" readonly min="1"
                                            type="number" class="form-control text-center">
                                        <button @click="item.qty ++ ;adjustQty(item, item.qty)" type="button"
                                            class="btn btn-outline-secondary">+</button>
                                    </div>
                                </div>
                            </td>
                            <td class="text-end">
                                <!-- <small class="text-success">折扣價：</small> -->
                                {{ item.total }}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-end">總計</td>
                            <td class="text-end">{{ carts.total }}</td>
                        </tr>
                        <!-- <tr>
                            <td colspan="3" class="text-end text-success">折扣價</td>
                            <td class="text-end text-success">{{ carts.final_total }}</td>
                        </tr> -->
                    </tfoot>
                </table>
            </div>

            <!-- 表單 -->
            <div class="my-5 row justify-content-center">
                <v-form ref="form" class="col-md-6" v-slot="{ errors }" @submit="onSubmit()">

                    <!-- 信箱 -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <v-field id="email" name="email" type="email" class="form-control"
                            :class="{ 'is-invalid': errors['email'] }" placeholder="請輸入 Email" rules="email|required"
                            v-model="form.user.email"></v-field>
                        <error-message name="email" class="invalid-feedback"></error-message>
                    </div>

                    <!-- 姓名 -->
                    <div class="mb-3">
                        <label for="name" class="form-label">收件人姓名</label>
                        <v-field v-model="form.user.name" id="name" name="姓名" type="text" class="form-control"
                            :class="{ 'is-invalid': errors['姓名'] }" placeholder="請輸入姓名" rules="required"></v-field>
                        <error-message name="姓名" class="invalid-feedback"></error-message>
                    </div>

                    <!-- 電話 -->
                    <div class="mb-3">
                        <label for="tel" class="form-label">收件人電話</label>
                        <v-field v-model="form.user.tel" id="tel" name="電話" type="text" class="form-control"
                            :class="{ 'is-invalid': errors['電話'] }" placeholder="請輸入電話"
                            rules="required|min:8|max:10"></v-field>
                        <error-message name="電話" class="invalid-feedback"></error-message>
                    </div>

                    <!-- 地址 -->
                    <div class="mb-3">
                        <label for="address" class="form-label">收件人地址</label>
                        <v-field v-model="form.user.address" id="address" name="地址" type="text" class="form-control"
                            :class="{ 'is-invalid': errors['地址'] }" placeholder="請輸入地址" rules="required"></v-field>
                        <error-message name="地址" class="invalid-feedback"></error-message>
                    </div>

                    <!-- 留言 -->
                    <div class="mb-3">
                        <label for="message" class="form-label">留言</label>
                        <textarea v-model="form.message" id="message" class="form-control" cols="30" rows="10"></textarea>
                    </div>

                    <!-- 送出 -->
                    <div class="text-end">
                        <button type="submit" class="btn btn-danger">送出訂單</button>
                    </div>
                </v-form>
            </div>
        </div>
    </div>

    <script type="text/x-template" id="userProductModal">
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" ref="modal">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content border-0">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <span>{{ tempProduct.title }}</span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-fluid" :src="tempProduct.imageUrl" alt="">
                        </div>
                        <div class="col-sm-6">
                            <span class="badge bg-primary rounded-pill">{{ tempProduct.category }}</span>
                            <p>商品描述：{{ tempProduct.description }}</p>
                            <p>商品內容：{{ tempProduct.content }}</p>
                            <div v-if="tempProduct.origin_price===tempProduct.price" class="h5">{{ tempProduct.price }}
                                元</div>
                            <div v-else>
                                <del class="h6">原價 {{ tempProduct.origin_price }} 元</del>
                                <div class="h5">現在只要 {{ tempProduct.price }} 元</div>
                            </div>

                            <div>
                                <div class="input-group">
                                    <select v-model="qty" name="" id="" class="form-select">
                                        <option v-for="qty in 20" :key="qty" :value="qty">{{qty}}</option>
                                    </select>
                                    <button @click="addToCart(tempProduct.id, qty)" type="button"
                                        class="btn btn-primary">
                                        加入購物車
                                        <span v-if="tempProduct.id===status.addToCartLoading"
                                            class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- VeeValidate 需要 Vue 作為初始化，所以需要把 Vue CDN 放在前面 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.12.4/vee-validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.12.4/dist/vee-validate-rules.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.12.4/dist/vee-validate-i18n.min.js"></script>

    <script src="./index.js" type="module"></script>
</body>

</html>